<!--{{:C('SITE_FOOT_COPY')}}-->
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="charset" content="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title><%= title %></title>

	<meta name="author" content="Kenvix <i@kenvix.com>" />

	<link rel="stylesheet" href="main.css">
	<script src="main.js"></script>

</head>
<body>

<%- include("navi") %>


<div class="container container-main flex-grow-1">
	<div class="row">
		<div class="col-lg main" role="main">
