<%- include("partial/header") %>
<div class="card">

    <div class="card-header"><%= title %></div>
    <div class="card-body" id="aboutInfo">
        <div class="form-group">
            <input type="text" class="form-control" name="name" required="" maxlength="20" placeholder="姓名">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="stuid" required="" maxlength="20" placeholder="学号">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="name" required="" maxlength="20" placeholder="姓名">
        </div>
    </div>
</div>

<%- include("partial/footer") %>